/**
 *  Filename : w0_home/s0_loader.less
 *  Preprocessor : LESS
 *  Update : 03/05/18
 *
**/

@import "../base/_mediaQueries.less";
@import "../base/_vars.less";


// ----------------------------------------- // 
// iPhone and Smartphones
// ----------------------------------------- // 
#w5_s2_e1_img[alt="Señora"] {
    position: absolute;

    top: auto;
    bottom: -0vw;

    width: 35vw;

    margin: 0 auto;

    display: block;

    left: 0vw;

    z-index: 100;
}

#w5_s2_e2_img[alt="Señor"] {
    position: absolute;

    top: auto;
    bottom: -0vw;

    width: 35vw;

    margin: 0 auto;

    display: block;

    right: 0vw;

    z-index: 100;
}

#w5_s2_e2_obj[alt="Bigotes/Rayitas"] {
    position: absolute;

    top: auto;
    bottom: 20vw;

    width: 15vw;

    margin: 0 auto;

    display: block;

    right: 50vw;

    z-index: 100;
}
