<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
 
 <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>CTS Admisiones</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<style>
    @font-face {
        font-family: f1;
        src: url(http://dev.colegiotecnologicodesuba.edu.co/php/f1.otf);
    }

    MyriadPro-Regular
</style>

<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td bgcolor="#00000" style="padding: 50px 0px 50px 0px;" colspan="3">
                <img src="http://dev.colegiotecnologicodesuba.edu.co/php/templates/Logo_CTS_Email.png" alt="CTS Logo" width="30%" style="display: block;margin: 0 auto;" />
            </td>
        </tr>
        <tr>
            <td bgcolor="#FFFFF" colspan="3">
                <img src="http://dev.colegiotecnologicodesuba.edu.co/php/templates/H1_Email_Mesa.png" alt="CTS Logo" width="30%" style="display: block;margin: 0 auto;padding-top: 25pt;" />
            </td>
        </tr>
        <tr>
            <td bgcolor="#FFFFF" width="20%"> </td>
            <td bgcolor="#ffffff" width="60%">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td bgcolor="#fffff" style="padding: 20px 0px 0px 0px;" colspan="2">

                            <p style="padding-left: 10px;font-size: 12pt;max-width: 400pt;   word-break: break-all;
    white-space: normal;font-family: f1;
    ">{{ThisMessage}}asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfa</p>

                            <img src="http://dev.colegiotecnologicodesuba.edu.co/php/templates/Lapiz_Email.png" style="display: block;width:150pt;margin: 0 auto;padding-bottom: 10pt;">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#fffff" style="padding: 20px 0px 0px 0px;" colspan="2" style="text-align:center;">
                            <center>
                                <span style="padding-left: 10px;font-weight: 800;text-align:center;"> {{ThisName}} /</span>
                                <span style="padding-left: 10px;text-align:center;">  {{ThisPhone}}</span>
                                <hr style="width: 250pt;margin: 0 auto; display: block;margin-top: 5pt;margin-bottom: 5pt;">
                                <span style="padding-left: 10px;text-align:center;"> {{ThisEmail}} /</span>
                            </center>
                        </td>

                    </tr>
                    <tr>
                        <td bgcolor="#fffff" style="padding: 20px 0px 0px 0px;" colspan="2">
                            <br>
                            <br>

                        </td>
                    </tr>
                </table>
            </td>
            <td bgcolor="#FFFFF" width="20%"></td>
        </tr>
    </table>
</body>
 
</html>