<mobile-nav>

    <nav-header>
        <img src="img/logos/mobile-nav-logo.png" alt="Logo CTS para dispositivos moviles" routeTo="home">
        <button class="hamburger hamburger--squeeze" type="button">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
        </button>
    </nav-header>


    <nav-menu>

        <item routeTo="admissions">ADMISIONES</item>
        <item routeTo="services">SERVICIOS</item>
        <item routeTo="about">NOSOTROS</item>
        <item routeTo="activities">ACTIVIDADES</item>
        <item routeTo="contact">CONTACTO</item>

    </nav-menu>

</mobile-nav>



<desktop-nav>
<wrapper>
    <nav-header routeTo="home">

    </nav-header>

    <nav-menu>
        <item routeTo="admissions">ADMISIONES</item>
        <item routeTo="services">SERVICIOS</item>
        <item routeTo="about">NOSOTROS</item>
        <item routeTo="activities">ACTIVIDADES</item>
        <item routeTo="contact">CONTACTO</item>

        <item linkTo="https:sdsadf"><img src="img/icons/icon_inst.svg"></item>
        <item linkTo="https://www.facebook.com/Colegio-Tecnol%C3%B3gico-de-Suba-456110801262696/"><img src="img/icons/icon_face.svg"></item>

        <item emailTo="info@colegiotecnologicodesuba.edu.co"><img src="img/icons/icon_email.svg"></item>
    </nav-menu>
</wrapper>
</desktop-nav>
