.admissions section.s0 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35pt;
    color: white;
    font-family: font-med-condensed;
    font-weight: 100;
    letter-spacing: 5px;
}

.admissions section.s0 wrapper {
    background-image: url("../img/CTS_02.jpg");
    background-size: cover;
    background-position: center center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}

.admissions section.s0 wrapper h1,
h2 {
    margin: 0px;
}

.admissions section.s0 wrapper h1 {
    color: #F5B318;
    font-size: 55pt;
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s0 wrapper h2 {
    color: #fff;
    font-size: 30pt;
    font-family: font-cat;
    letter-spacing: 3px;
    position: relative;
    top: -5pt;
}





.admissions section.s1 wrapper wrapper-title {
    padding-top: 100pt;
    width: 400pt;
    display: block;
    margin: 0 auto;
}

.admissions section.s1 wrapper h2 {
    text-align: center;
    font-size: 48pt;
    font-family: font-med-condensed;
}

.admissions section.s1 wrapper h2 span {
    font-family: font-cat;
    font-size: 42pt;
}





.admissions section.s1 wrapper wrapper-content {
    width: 700pt;
    display: block;
    margin: 0 auto;

}

.admissions section.s1 wrapper wrapper-content tabs {
    width: 700pt;
    margin: 0 auto;

    font-family: font-med-condensed;
    font-size: 20pt;

    padding-top: 20pt;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}

.admissions section.s1 wrapper wrapper-content tabs tab {
    height: 22pt;
    width: 90pt;
    border: 2px solid black;
    border-bottom: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    margin-right: 15pt;
}

.admissions section.s1 wrapper wrapper-content tabs tab:hover {
    cursor: pointer;
}

.admissions section.s1 wrapper wrapper-content tabs tab.active {
    background-color: black;
    color: white;
}

.admissions section.s1 wrapper wrapper-content content {

    width: 100%;

    display: block;
    margin: 0 auto;
    background-color: #F7B41B;
    border-top: 2px solid black;
    border-bottom: 2px dashed black;
}

.admissions section.s1 wrapper wrapper-content content .swiper-slide {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}

.admissions section.s1 wrapper wrapper-content content .swiper-slide column {
    width: 50%;

    padding-top: 30pt;
    padding-bottom: 20pt;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: flex-start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}



.admissions section.s1 .paso1 column:first-child {
    width: 40%;
    padding-left: 10%;
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 column .cf1 {
    background-color: white;
    display: block;
    margin: 0px;
    align-self: left;
    font-size: 35pt;
    padding-left: 0pt;
    padding-right: 0pt;
    font-weight: 100;
    letter-spacing: 0px;
    padding: 0px;
    padding-left: 5pt;
    padding-right: 5pt;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.admissions section.s1 column .cf2 {
    background-color: black;
    color: white;
    display: block;
    margin: 0px;
    align-self: left;
    font-size: 35pt;
    font-weight: 100;
    padding-left: 5pt;
    padding-right: 5pt;
}

.admissions section.s1 column .cf3 {
    font-family: font-light;
    letter-spacing: 0pt;
    font-size: 18pt;
    line-height: 100%;
}

.admissions section.s1 column li {

    padding: 5pt;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: flex-start;
    align-content: flex-start;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;

}

.admissions section.s1 column ul {
    display: block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 85%;
    padding-left: 5pt;
    font-family: font-light;
    font-size: 20pt;
    line-height: 95%;
}

.admissions section.s1 column li side {

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: flex-start;
    align-content: flex-start;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;

    margin-left: 0px;
    width: calc(100% - 20pt);
}

.admissions section.s1 column li side:first-child {
    width: 20pt;
    ;
    display: inline-block;

}

.admissions section.s1 column li side:last-child {


    margin-left: 5pt;
    width: auto;
    max-width: 80%;
    min-width: 80%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: flex-start;
    align-content: flex-start;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;

    border-bottom: 1pt solid black;

    font-size: 17pt;


}

.admissions section.s1 column li side:last-child row:last-child {
    font-family: font-bold;
    font-size: 15pt;
    letter-spacing: -0.5pt;

}










.admissions section.s1 column img {
    width: 20pt;
}



.admissions section.s1 .paso2 column {
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso2 column:first-child {
    width: 40%;
    padding-left: 10%;
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso2 column:last-child {
    width: 50%;
    padding-right: 0%;
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso2 .cf3 {
    font-family: font-light;
    letter-spacing: 0pt;
    font-size: 17pt;
    line-height: 100%;
    margin-top: 10pt;
    width: 90%;
    padding-right: 10%;
}


.admissions section.s1 .paso2 li side:last-child row:last-child {
    font-family: font-light;
    font-size: 16pt;
    letter-spacing: -0.5pt;

}

.admissions section.s1 column ul {
    display: block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-left: 0%;
    font-family: font-light;
    font-size: 20pt;
    line-height: 95%;
}

.admissions section.s1 .paso2 column li {}


















.admissions section.s1 .paso3 column {
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso3 column:first-child {
    width: 40%;
    padding-left: 10%;
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso3 column:last-child {
    padding-right: 0%;
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso3 .cf3 {
    font-family: font-light;
    letter-spacing: 0pt;
    font-size: 17pt;
    line-height: 100%;
    margin-top: 10pt;
    width: 90%;
    padding-right: 10%;
}

.admissions section.s1 .paso3 side row {}

.admissions section.s1 .paso3 li side:last-child row:last-child {
    font-family: font-light;
    font-size: 16pt;
    letter-spacing: -0.5pt;

}

.admissions section.s1 .paso3 column li {}


.admissions section.s1 .paso4 column:first-child {
    width: 40%;
    padding-left: 10%;
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso4 .cf3 {
    font-family: font-light;
    letter-spacing: 0pt;
    font-size: 17pt;
    line-height: 100%;
    margin-top: 10pt;
    width: 90%;
    padding-right: 10%;
}

.admissions section.s1 .paso4 column {
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso4 column:first-child {
    width: 40%;
    padding-left: 10%;
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso4 column:last-child {
    padding-right: 0%;
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso4 li side:last-child row:last-child {
    font-family: font-light;
    font-size: 16pt;
    letter-spacing: -0.5pt;

}









.admissions section.s1 .paso5 column:first-child {
    width: 40%;
    padding-left: 10%;
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso5 .cf3 {
    font-family: font-light;
    letter-spacing: 0pt;
    font-size: 17pt;
    line-height: 100%;
    margin-top: 10pt;
    width: 90%;
    padding-right: 10%;
}

.admissions section.s1 .paso5 column {
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso5 column:first-child {
    width: 40%;
    padding-left: 10%;
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso5 column:last-child {
    padding-right: 0%;
    font-family: font-med-condensed;
    font-weight: 100;
}

.admissions section.s1 .paso5 li side:last-child row:last-child {
    font-family: font-light;
    font-size: 16pt;
    letter-spacing: -0.5pt;

}





























.admissions section.s2 wrapper wrapper-title {
    padding-top: 100pt;
    width: 450pt;
    display: block;
    margin: 0 auto;
}

.admissions section.s2 wrapper h2 {
    text-align: center;
    font-size: 48pt;
    font-family: font-med-condensed;
}

.admissions section.s2 wrapper h2 span {
    font-family: font-cat;
    font-size: 42pt;
}





.admissions section.s2 wrapper wrapper-content {
    width: 700pt;
    display: block;
    margin: 0 auto;

    font-family: font-light-condensed;

}


.admissions section.s2 wrapper wrapper-content content {

    width: 100%;
    height: auto;

    display: block;
    margin: 0 auto;
    background-color: #FFFF;
    border-top: 2pt dashed black;
    border-bottom: none;
    margin-top: 25pt;


}

.admissions section.s2 wrapper wrapper-content content ts-form {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;

    height: calc(100vh - 125pt);
}

.admissions section.s2 wrapper-column {

    border-right: 2pt dashed black;
    width: calc(45% - 2pt);
    padding-bottom: 0pt;
    padding-top: 0pt;
    height: 100%;
}
.admissions section.s2 wrapper-column:last-child{
    border-right: none;
     width: calc(55% - 2pt);
}
.admissions section.s2 column {

    width: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;


    font-size: 18pt;

}

.admissions section.s2 column form-group {

    height: auto;
      padding-top: 30pt;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: left;
    -webkit-align-content: left;
    -ms-flex-line-pack: left;
    align-content: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
}

.admissions section.s2 column form-group.s2c {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}



.admissions section.s2 column form-group.s2c {
    height: auto;
}

.admissions section.s2 column form-group.s2c label:first-child {
    width: 100%;
}

.admissions section.s2 column form-group.s2c submit-wrapper {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.admissions section.s2 .f-bold-c {
    font-family: font-bold-cond !important;
}

.admissions section.s2 input[type=text] {
    padding: 1px;
    font-size: 16pt;
    width: 200pt;
    margin: 5pt;
    margin-left: 0pt;
    border: 1pt solid black;

}

.admissions section.s2 input[type=text]:focus {
    border-color: #000;
}

.admissions section.s2 button[type=submit] {
    position: relative;
    left: 10pt;
    top: -10pt;
    padding: 5px 15px;
    background: #000;
    color: white;
    border: 0 none;
    cursor: pointer;
}

.admissions section.s2 .warning-form-label {
    color: red;
    display: none;
}

.warning-input {
    border: 1pt solid red;
    border-color: red !important;
}



.admissions textarea {
    border: 1pt solid black;
}

.admissions .s3 wrapper {
    width: 100vw;
    height: 150pt;
}

.admissions .float-img.postform {
    position: absolute;
    display: block;
    width: 800pt;
    left: calc(50% - 400pt);
    bottom: 0pt;

}
