// ----------------------------------------------------------------------
// Base
// ----------------------------------------------------------------------
@import "base/_reset.less";
@import "base/_mixins.less";
@import "base/_vars.less";
@import "base/_fonts.less";







// ----------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------
@import "layout/_grid.less";
@import "layout/_routes.less";
@import "layout/_splash.less";






// ----------------------------------------------------------------------
// Modules
// ----------------------------------------------------------------------
@import "modules/_titles.less";
@import "modules/_splash.css";
@import "modules/_hamburger.css";
@import "modules/_swiper.less";
@import "modules/_contactForm.less";
@import "modules/_timeline.less";
@import "modules/_timelineDesktop.less";
@import "modules/_schedule.less";




// ----------------------------------------------------------------------
// Images and  Animations
// ----------------------------------------------------------------------
@import "imgAndAnim/anim_w0_home.less";
@import "imgAndAnim/anim_w1_admissions.less";
@import "imgAndAnim/anim_w2_services.less";
@import "imgAndAnim/anim_w3_about.less";
@import "imgAndAnim/anim_w4_activities.less";
@import "imgAndAnim/anim_w5_contact.less";




//
// ----------------------------------------------------------------------
// Views
// ----------------------------------------------------------------------
@import "views/nav.less";
@import "views/footer.less";
@import "views/cover.less";

@import "views/w0_home/s0_loader.less";
@import "views/w0_home/s1_logo.less";
@import "views/w0_home/s2_35years.less";

@import "views/w1_admissions/s0_cover.less";
@import "views/w1_admissions/s1_process.less";
@import "views/w1_admissions/s2_contact.less";

@import "views/w2_services/s0_cover.less";
@import "views/w2_services/s1_services.less";


@import "views/w3_about/s0_cover.less";
@import "views/w3_about/s1_timeline.less";
@import "views/w3_about/s2_philosophy.less";
@import "views/w3_about/s3_mission.less";

@import "views/w4_activities/s0_cover.less";
@import "views/w4_activities/s1_prom.less";
@import "views/w4_activities/s2_schedule.less";


@import "views/w5_contact/s1_uploadCV.less";
@import "views/w5_contact/s2_maps.less";



@import "base/_mediaQueries.less";



[hidden] {
    display: none !important;
}


::-webkit-scrollbar {
background: transparent;
	overflow: visible;
	width: 17px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border: solid #fff;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 4px 6px;
	min-width: 40px;
}

::-webkit-scrollbar-thumb:vertical {
	border-width: 6px 4px;
	min-height: 40px;
}

::-webkit-scrollbar-track-piece {
	background-color: #fff;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #ADADAD;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
	background-color: #999;
}