html,
body,
main,
nav,
menu,
footer {
    padding: 0px;
    margin: 0px;
    font-family: font-regular;
    background-color: black;
}

section wrapper {
    width: 100vw;
    height: 100vh;
    display: block;
}

.bg-black {
    background-color: #000;
    color: #fff;
}

.bg-white {
    background-color: #fff;
    color: #000;
}

.bg-yellow {
    background-color: #F7B41B;
    color: #000;
}

.underline {
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    text-decoration: underline;
    -webkit-text-decoration-style: wavy;
    -moz-text-decoration-style: wavy;
    text-decoration-style: wavy;
    -webkit-text-underline-position: under;
    text-underline-position: under;

    color: #FAB719;
}

/* ------------------------------ */

/* HOME */

/* ------------------------------ */

.home section.s0 wrapper img {
    display: block;
    height: 100vh;
    margin: 0 auto;
}

.home section.s1 wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.home section.s1 wrapper img {
    display: block;
    width: 40vw;
    margin: 0 auto;
}

.home section.s2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 5.5vw;
    color: white;
    font-family: font-med-condensed;
    font-weight: 100;
}

.home section.s2 wrapper {
    background-image: url("../img/CTS_01.jpg");
    background-size: cover;
    background-position: center center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}



.home section.s2 wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.home section.s2 wrapper h1 {
    height: 2em;
    margin: 0px;
    margin-top: 1em;

}

.home section.s2 wrapper .floating-svg {
    width: 10vw;
    height: 10vw;

}

.home section.s2 wrapper .floating-svg:last-child {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* ------------------------------ */
